@page
@model Eshopping.Pages.ProductMaster.IndexModel
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Catalog</title>
    <link rel="stylesheet" href="~/css/ProductIndex.css" />
    <script src="https://kit.fontawesome.com/122dc9e5c9.js" crossorigin="anonymous"></script>
</head>
<body>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Produits Soin corporel homme</h1>
<form>
     <p>
            Title: <input type="text" asp-for="SearchString" />
            <input type="submit" value="Filter" />
     </p>
</form>

<p>
    <a asp-page="Create">Create New</a>
    <div>
        <p>
            <form method="post" asp-page-handler="RedirectToCart">
                                            <button type="submit" class="btn btn-primary">View Cart</button>
                                        </form>
        </p>
    </div>
</p>





<div class="product-grid">
    @foreach (var item in Model.Product) {
        <div class="product">
            <img class="img-class" src="~/@item.ImageUrl" alt=@Html.DisplayFor(modelItem => item.Name)>
            <p class="price">@Html.DisplayFor(modelItem => item.Price) <text>Dhs</text></p> 
            <p class="description">@Html.DisplayFor(modelItem => item.Description)</p>
            <br/>
            <div class="buttons">
                <form method="post" asp-page-handler="AddToCart" asp-route-productId="@item.Id">
                                <button type="submit" class="cart"><i class="fa-solid fa-cart-plus"></i></button>
                            </form>
                <button class="wishlist"><i class="fa-solid fa-cart-shopping "></i></button>
                <button class="buy" id="@item.Id"><i class="fa-solid fa-check"></i></button>
            </div>
        </div>
    }
</div>

</body>
</html>